.animation {
  width: 45%;
  position: relative;
  overflow: hidden;
  min-height: 650px;
  min-height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-image {
  display: block;
  width: 90%;

  transition: transform 0.15s ease-out;
  will-change: transform;

  user-select: none;
  pointer-events: none;
}

/* @media (min-width: 1440px) {
  .animation {
    min-height: 750px;
  }
} */

@media (max-width: 767px) {
  .animation {
    width: 80vw;
    min-height: auto;
    height: auto;

    margin: 30px auto;
    padding: 0;
  }

  .animation-image {
    width: 100vw;
    max-width: none;
  }
}

@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 412px) {
}
@media (min-width: 500px) {
}
@media (min-width: 768px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
