@import "../../theme/theme-colors.css";

.heroMobile {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.info {
  align-content: center;
  text-align: center;

  width: 100%;
}

.violetText {
  color: var(--title-color);
}

.heroMobile h1 {
  font-size: 42px;
}

.heroMobile h2 {
  margin: 5% 0;
  font-size: 20px;
  font-weight: 450;
}

.author {
  background: linear-gradient(
    to right,
    #4824ff,
    #4824ff,
    #85ebff,
    #eeebff,
    #85ebff,
    #4824ff,
    #4824ff
  );
  color: transparent;
  background-clip: text;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heroMobile h3 {
  background-color: var(--hero-background);
  backdrop-filter: blur(8px);
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  border: #4824ff solid 0.5px;

  padding: 10px 10px;
  border-radius: 20px;
  width: 80vw;
  margin: 0 auto;

  position: relative;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.heroMobile h3:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 25px;
  background-color: #ffffffbd;
  filter: blur(2px);
  transition: 2.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}
.heroMobile h3:hover:before {
  transform: rotate(-20deg) translateX(450px);
}

.heroMobile img {
  width: 100%;
}

@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 412px) {
}
@media (min-width: 500px) {
  .info h3 {
    width: 50vw;
  }
}
@media (min-width: 600px) {
  .heroMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .info {
    width: 40%;
    text-align: inherit;
  }

  .info h3 {
    width: 30vw;
  }
}
